In [2]:
import sys, os
sys.path.append('/Users/benjamin/Desktop/repos/chi-data/backend/aws') 
sys.path.append('/Users/benjamin/Desktop/repos/chi-data/backend') 
from s3 import S3
from dynamo import DynamoConn
import pyarrow.parquet as pq
import pandas as pd
import numpy as np
from config import cook_tracts, chicago_tracts, msa_tracts
# https://www.dnainfo.com/chicago/20171020/downtown/chicago-amazon-headquarters

In [3]:
import s3fs
s3 = s3fs.S3FileSystem()
dataset = 'JT00'
year = '2014'
ds = pq.ParquetDataset(path_or_paths=[
  'bnroths/chicago-data/lehd_od/year=%s/il_lehd_od_main_%s_%s.parquet' % (year, dataset, year), 
  'bnroths/chicago-data/lehd_od/year=%s/il_lehd_od_aux_%s_%s.parquet' % (year, dataset, year), 
    
  'bnroths/chicago-data/lehd_od/year=%s/in_od_main_%s_%s.parquet' % (year, dataset, year), 
  'bnroths/chicago-data/lehd_od/year=%s/in_od_aux_%s_%s.parquet' % (year, dataset, year), 
    
  'bnroths/chicago-data/lehd_od/year=%s/wi_od_main_%s_%s.parquet' % (year, dataset, year), 
  'bnroths/chicago-data/lehd_od/year=%s/wi_od_aux_%s_%s.parquet' % (year, dataset, year), 

], filesystem=s3, validate_schema=False)

In [4]:
table = ds.read()
df = table.to_pandas()

In [5]:
df.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate,h_tract,w_tract
0,170010001001001,170010001001065,1,0,1,0,0,1,0,0,0,1,20160219,17001000100,17001000100
1,170010001001001,170010001002002,1,0,0,1,0,0,1,0,0,1,20160219,17001000100,17001000100
2,170010001001001,170010001003012,1,0,1,0,0,1,0,0,0,1,20160219,17001000100,17001000100
3,170010001001001,170010006003003,1,0,0,1,0,1,0,0,0,1,20160219,17001000600,17001000100
4,170010001001001,170010008001007,1,0,0,1,0,1,0,0,0,1,20160219,17001000800,17001000100

In [6]:
df.head()
df = df[df['h_tract'].isin(msa_tracts)]
df = df[df['w_tract'].isin(msa_tracts)]

In [7]:
diff1 = set(df.h_tract) - set(df.w_tract)
for tract in diff1:
	df = df[df.h_tract != tract]

diff2 = set(df.w_tract) - set(df.h_tract)
for tract in diff2:
	df = df[df.w_tract != tract]

In [8]:
diff1 = set(df.h_tract) - set(df.w_tract)
diff2 = set(df.w_tract) - set(df.h_tract)
print diff1, diff2
print df.head()
df.shape

set([]) set([])
              w_geocode        h_geocode  S000  SA01  SA02  SA03  SE01  SE02  \
189043  170310101001000  170310101002006     1     0     1     0     0     1
189044  170310101001000  170310101003006     1     0     0     1     0     0
189045  170310101001000  170310103003000     1     0     0     1     0     0
189046  170310101001000  170310105022000     1     0     1     0     0     0
189047  170310101001000  170310317001000     1     0     1     0     0     1

        SE03  SI01  SI02  SI03  createdate      h_tract      w_tract
189043     0     0     0     1    20160219  17031010100  17031010100
189044     1     0     0     1    20160219  17031010100  17031010100
189045     1     0     0     1    20160219  17031010300  17031010100
189046     1     0     0     1    20160219  17031010502  17031010100
189047     0     0     0     1    20160219  17031031700  17031010100

(3727688, 15)

In [22]:
pivot = pd.pivot_table(df, values='SA01', columns=['w_tract'], index=['h_tract'], aggfunc=np.sum, fill_value=0)

In [23]:
print pivot.head()
pivot.shape

# df['S000'].sum()#['17001010400']#.head(n=100) #17001010100

w_tract      17031010100  17031010201  17031010202  17031010300  17031010400  \
h_tract
17031010100            8            6            9            7            0
17031010201            2            4            5            3            0
17031010202            0            0            4            0            1
17031010300            3            0            7            5            3
17031010400            0            0            0            2            0

w_tract      17031010501  17031010502  17031010503  17031010600  17031010701  \
h_tract
17031010100            0            0            0            2            0
17031010201            2            0            0            1            0
17031010202            0            0            0            0            0
17031010300            3            0            0            2            0
17031010400            2            4            1            1            0

w_tract         ...       55059002601  55059002602  55059002700  55059002800  \
h_tract         ...
17031010100     ...                 0            0            0            0
17031010201     ...                 0            0            0            0
17031010202     ...                 0            0            0            0
17031010300     ...                 0            0            0            0
17031010400     ...                 0            1            0            0

w_tract      55059002903  55059002904  55059002905  55059002906  55059003001  \
h_tract
17031010100            0            0            0            0            0
17031010201            0            0            0            0            0
17031010202            0            0            0            0            0
17031010300            0            0            0            0            0
17031010400            0            0            0            0            0

w_tract      55059003002
h_tract
17031010100            0
17031010201            0
17031010202            0
17031010300            0
17031010400            0

[5 rows x 2204 columns]

(2204, 2204)

In [81]:

pivot.to_csv('/Users/benjamin/Desktop/repos/chi-data/scripts/test.csv')

In [24]:
h_tracts = pivot.sum()
print h_tracts.head()
w_tracts = pivot.transpose().sum()
A = pivot.transpose()/w_tracts
A = A.fillna(0).replace([np.inf, -np.inf], 0)

w_tract
17031010100     85
17031010201     57
17031010202    186
17031010300    200
17031010400    556
dtype: int64

In [25]:
np.matmul(A, w_tracts)

array([  85.,   57.,  186., ...,   70.,   10.,  181.])

w_tract
17031010100      85
17031010201      57
17031010202     186
17031010300     200
17031010400     556
17031010501      45
17031010502      38
17031010503      55
17031010600     224
17031010701       6
17031010702     248
17031020100     275
17031020200     207
17031020301     116
17031020302     141
17031020400      46
17031020500      84
17031020601      63
17031020602     244
17031020701     128
17031020702     130
17031020801     124
17031020802     210
17031020901      56
17031020902     406
17031030101      71
17031030102     106
17031030103     105
17031030104      39
17031030200     133
               ...
55059000602     145
55059000700     450
55059000800      72
55059000900      74
55059001000     622
55059001100     103
55059001200     300
55059001300      99
55059001400     346
55059001500     102
55059001600      77
55059001700      74
55059001800     253
55059001900      23
55059002000     279
55059002100     119
55059002200     135
55059002300     359
55059002400     272
55059002500     175
55059002601     793
55059002602    1777
55059002700     516
55059002800     190
55059002903     149
55059002904     234
55059002905     150
55059002906      70
55059003001      10
55059003002     181
Length: 2204, dtype: int64